@import "color";

* {
  box-sizing: border-box;
}

body {
  background: #FFF3E0;
  height: 100vh;
  padding: 54px 0 0 0;
}

.main-view {
  height: 100%;
  display: flex;
  align-items: stretch;

}

.navbar2 {
  position: fixed;
  width: 100vw;
  top: 0;
  background: $mainColor;
  color: white;
  border-radius: 0px;
  margin: 0px !important;
  height: 58px;
  border-color: transparent;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'leftbar/main';
@import "rightbar";
